/*
    sub.css
        aside 250px
        content 
*/
body{font-family: 'Nanum Gothic', sans-serif;}
:root{
    --main-color:#046eb8;
    --sub-color:#00bbce;
    --sub-color2:#7ec255;
}
#sub1_1 h2{
    font-size: 24px;
}
 h3{
    font-size: 30px;
}
#sub1_1 h4{
    font-size: 26px;
}
 #main {

}
> #main .container{
    /*outline: 1px solid slategrey;*/
}
 #main aside{
    width: 250px;
    /*outline: 1px solid slategrey;*/
    margin-right: auto;
}
 #main article{
    width: 900px;
    /*outline: 1px solid slategrey;*/
}

/* 사이드바 영역 */
 #main aside h2{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: var(--sub-color2);
    color: white;
}
 #main aside .subMenu > li{
    background-color: #d7d7d7;
   
}
 #main aside .subMenu > li > a{
    transition: 0.4s;
    color: #898989;
    background-color: white;
    display: block;
    height: 50px;
    padding-left: 1em;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
 #main aside .subMenu > li:hover > a{
    color: #fff;
    background-color: #939a9e;
}
/* 메뉴 선택(해당 페이지)*/
/*#sub1_1 > #main aside .subMenu > li.active > a{
    color: #fff;
    background-color: #939a9e;
    border-bottom: 1px solid white;
}*/

/*사이드바 하단*/

 #main .leftMenu{
    display: block;
    
    
    border: 1px solid rgb(172, 172, 172);
    position: absolute;
    margin: 180px 0 0;
    padding: 25px 20px;
    top: 180px;
}
 #main .leftMenu > h3>strong{
    color: var(--sub-color);
    font-size: 22px;
    margin-left: 70px;
}
 #main .leftMenu >p,dl{
    text-align: center;
}
 #main .leftMenu >p{
    margin: 15px 0 15px;
    font-size: 17px;
}
#main .leftMenu > dl > dd{
    float: left;
    background-color: var(--sub-color2);
    color: white;
    border-radius: 40px;
    margin: 0 5px 0 5px;
    padding: 10px 10px;
    font-size: 13px;
    font-weight: bold;
}
 #main .leftMenu > dl >dt{
    color: var(--sub-color2);
    font-size: 18px;
    font-weight: bold;
    padding-top: 4px;
}
/* 센터소개 article*/
#main article .breadCrumb{
    /*background-color: #ccc;*/
    text-align: right;
    font-size: 12px;
    margin-bottom: 2rem;
}
article .textLayout{
    display: flex;
    padding: 60px 30px; 
    background-color: #f9f9f9;
    margin-top: 42px;
}
article .textLayout img{
    width: 300px;
    height: 340px;
}
article .textLayout .text{
    margin-right: auto;
}
.accent{
    color: var(--sub-color);
}
article h4{
    margin-bottom: 35px;
    line-height: 1.5em;
}
article p{
    margin-bottom: 35px;
    line-height: 28px;
}
article p:last-child{
    margin-bottom: 0;
}
article p strong{
    font-size: large;
    line-height: 1.5em;
}
article .bottomTextLayout{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
}
article .bottomTextLayout > h5{
    padding-bottom: 18px;
}
article .bottomTextLayout > h5 > .accent2{
    color: var(--sub-color2);
    font-size: 20px;
}
article .bottomTextLayout > p{
    font-size: 16px;
}
b{
    font-size: 16px;
    font-weight: 700;
}
/*오시는 길*/
#sub5_1 article .location{
    margin-top: 40px;
}
#sub5_1 article .location ul{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
#sub5_1 article .location ul li{
    width: 50%;
    margin-bottom: 1em;
}
#sub5_1 article .location ul li > i{
    margin-right: 8px;
    color: #7ec255;
}
@media (min-width: 768px) and (max-width: 1024px) {
    body{
        max-width: 1024px;
        min-width: 768px;
    }
    header{
        width: 100%;
    }
}